body {
    background-image: radial-gradient(circle at center, black 65%, purple);
    background-color: black;
}

h1 {
    width: 30%;
    border-radius: 50%;
    justify-self: center;
}

button {
    text-shadow: 
        1px 1px black,
        1px -1px black,
        -1px 1px black,
        -1px -1px black;
}

button:disabled {
    border-color: red;
}

button:enabled {
    border-color: blue;
}

button:enabled:hover {
    border-color: lime;
}

#text1 {
    position: absolute;
    top: 100px;
    left: 33%;
    width: 500px;
}