header{
    background-image: linear-gradient(to bottom, fuchsia, purple);
    height: 120%;
    padding: 20px;
    z-index: 2;
}

body{
    background-image: radial-gradient(circle at center, darkorchid, pink);
    
    text-align: center;
    font-weight: bold;
    color: gold;
    text-shadow: 
        1px 1px black,
        1px -1px black,
        -1px 1px black,
        -1px -1px black;
    z-index: 1;
}

#partyTime {
    background-image: url(../images/confettiBackground.jpg);
    background-size: 50%;
}

#banner{
    display: flex;
    justify-content: space-evenly;
}

.bannerItem:hover {
    box-shadow: 10px 10px black;
    border: 3px solid red;
}

#bannerLogo{
    float: left;
}

a, button {
    font-size: large;
    border: 3px solid blue;
    background-image: url(../images/confettiBackground.jpg);
    background-size: cover;
    color: gold;
    height: fit-content;
}

a:hover {
    box-shadow: 5px 5px black;
    border: 3px solid red;
}

span{
    color: purple;
}

.confetti {
    background-image: url(../images/confettiBackground.jpg);
    background-size: cover;
}

.confetti a {
    border-color: gold;
}




.rounded {
    border-radius: 10%;
}


.bannerHonk {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50px;
    left: 97px;
}


.honkable:hover {
    cursor: pointer;
}

h1 {
    font-size: 250%;
    color: orange;
}

p {
    font-size: 200%;
}

div {
    margin: 10px;
}