body{
    background-color: darkorchid;
    
    text-align: center;
    font-weight: bold;
    color: gold;
    text-shadow: 
        1px 1px black,
        1px -1px black,
        -1px 1px black,
        -1px -1px black;

    z-index: 1;
}

#onTour{
    position: absolute;
    left: 0px;
    top: 50px;
    z-index: -1;
}

#fAndF{
    position: absolute;
    top: 900px;
    left: 0px;
    width: 100%;
}

#parties{
    position: absolute;
    top: 1450px;
    left: 0px;
    width: 100%;
}

#locations{
    position: absolute;
    top: 2000px;
    left: 0px;
    width: 100%;
}

#history{
    position: absolute;
    top: 2550px;
    left: 0px;
    width: 100%;
}

#lies{
    position: absolute;
    top: 3100px;
    left: 0px;
    width: 100%;
}

#books{
    position: absolute;
    top: 3650px;
    left: 0px;
    width: 100%;
}

.backgroundImage{
    position: relative;
    top: 0;
    left: 0;
}

.advenChar{
    position:absolute;
    top: 0px;
    left: 75%;
}

.segment div{
    position: absolute;
    top: 5%;
    left: 200px;
    width: 50%;
}

.segment h1{
    font-size: 420%;
}

.segment p{
    font-size: xx-large;
}


/*to avoid cluttering the background image's text with the actual text.*/
#locations div{
    top: 0px;
    left: 50px;
}

#locations h1{
    padding-bottom: 15px;
}

#lies div{
    top: -10%;
    left: 10px;
    width: 38%;
}