body{
    background-image: url("images/confettiBackground.jpg");
    background-size: 2000px, 3000px;
    
    text-align: center;
    font-weight: bold;
    color: gold;
    text-shadow: 
        1px 1px black,
        1px -1px black,
        -1px 1px black,
        -1px -1px black;
}

h1{
    font-size: larger;
}

h2{
    font-size: larger;
}

h3{
    font-size: large;
}
            
p {
    font-size: medium;
}

a {
    background-image: none;
    background-color: darkmagenta;
}
/*
.imagePlusText {
    padding-bottom: 10px;
}

.character {
    float: left;
    clear: left;
}

.characterText {
    text-align: center;
    clear: none;
}*/